body {
    background-color: #e6ede6;
    color: #32033a;
    margin: 0;
}

main {
    padding: 1em;
}

.container {
    overflow-x: auto;
}

#header {
    color: #970542;
    padding: 0;
}

.h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 1em 0.75em 0.2em;
    margin: 0;
}

.name {
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Newbie-challenges {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#Newbie-challenges td,
#Newbie-challenges th {
    border: 1px solid #ddd;
    padding: 0.5em;
}

#challenges tr:nth-child(even) {
    background-color: #c5ebe0;
}

#Newbie-challenges tr:hover {
    background-color: #ddd;
}

#Newbie-challenges th {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: center;
    background-color: #287a71;
    color: white;
}


#Junior-challenges {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#Junior-challenges td,
#Junior-challenges th {
    border: 1px solid #ddd;
    padding: 0.5em;
}

#challenges-junior tr:nth-child(odd) {
    background-color: #cad8f5;
}

#Junior-challenges tr:hover {
    background-color: #ddd;
}

#Junior-challenges th {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: center;
    background-color: #3d555d;
    color: white;
}

footer {
    background-color: #c5ebe0;
    padding: 1em 5em;
    margin-top: 1em;
    text-align: center;
}

.h2 {
    text-align: center;
    color: #424485;
    font-family: sans-serif;
}

p {
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background: #11CDD4;
    border-radius: 0.5em;
    font-family: sans-serif;
    color: beige;
    font-size: 1.25rem;
    padding: 0.75em 1.25em;
    text-decoration: none;
}

.fab {
    color: green;
    padding: 0 0.75em;
    font-weight: 100;
}

.fas {
    color: black;
    font-weight: 100;
}

#copy-right {
    text-decoration: none;
}
#copy-right:hover {
    text-decoration: underline;
    text-shadow: slategray;
    color: darkslateblue;
}

.hashtag {
    color: black;
    padding: 0;
}
.html {
    color: #d57a06;
    padding: 0;
}
.css {
    color: lightskyblue;
    padding: 0;
}

.tags {
    padding: 0 1em;
}